/*
  .main-sentense {
    height: 700px;
    padding: 200px;
  }*/

.products-info {
    /*float: left;*/
    font-size: 2em;
}

h2 {
    margin-left: 2.5em;
}

.chuck-taylor {
    margin: auto auto 30px auto;
}

.chuck-taylor h2 {
    margin-right: 200px;
}

.products-info h2 {
    margin-left: 200px;
    font-size: 2em;
    color: #3F0B0B;
    font-family: SimSun-ExtB;
}

.products-info h1 {
    margin-left: 130px;
    font-size: 2em;
    color: #E43A3A;
    font-family: SimSun-ExtB;
}

.explain {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: SimSun-ExtB;
}

.col p {
    font-size: 2em;
    padding-left: 3em;
}

.size {
    background-color: crimson;
}

.products-option label {
    font-size: 3em;
    border-radius: 1em;
    margin: 10px 10px;
}

.price p {
    font-size: 4em;
}

.price span {
    font-size: 0.5em;
}