html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 70px;
    margin-bottom: 200px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-right {
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
    line-height: 55px;
    padding: 0 25px;
    color: white;
    display: block;
    font-size: 15px;
}

.header-center {
    text-align: center;
    padding: 0px;
    font-size: 2em;
    font-family: cursive;
    color: white
}

.header-left {
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-left:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-left a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
}

.top-page {
    text-align: center;
    font-size: 40px;
}

footer {
    background-color: #333;
    padding-bottom: 20px;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 50px 20px;
    background-color: #FFF;
}

.fotter-float {
    float: left;
    width: 300px;
    margin-right: 50px;
}

.end {
    margin-right: 0;
}

.fotter-main {
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.fotter-float h2 {
    border-bottom: 2px solid #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
}

.fotter-float p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 22px;
}

.fotter-float span {
    font-size: 10px;
}

tr {
    width: 100%;
}

th {
    font-weight: bold;
}

th,
td {
    line-height: 22px;
    width: 42px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.holi {
    background-color: #FCC;
}

#bottom {
    text-align: center;
    color: #fff;
}