header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position : fixed;
    top :0;
    z-index : 10;
  }

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }

  .header-center {
    text-align:center;
    padding:0px;
    font-size:300%;
    font-family:cursive;
    color:white
  }

.main-sentense {
    margin: 100px 100px auto 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.main-left {
    background-color: chocolate;
    margin:100px;
}

.product-title{
  font-size: 1.5em;
  text-align: center;
}

.product-list .col{
  text-align: center;
}

.back-img {
  background-image:url(/public/images/products_img/bg_chucktaylor.jpg);
  background-color: aqua;
  height: 100px;
  text-align: center;
  font-size: 3em;
  color: #3F0B0B;
  margin:50px 100px 100px 100px;
}

.main-sentense {
  padding: 100px 100px auto 200px;
}

.sub-sentense {
  color: #3F0B0B;
  width: 800px;
  text-align:left;
  margin:auto auto 100px 300px;
  letter-spacing: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.container span{
  color: #D17171;
}

.foot-container {
  bottom: 0;
  background-color: #CDF7F7;
}

.foot-sentense {
  background-color: khaki;
}