<link rel="stylesheet" href="/public/stylesheet/details.css">

<div class="main-sentense">
    <div class="container products-info" style="margin:100px auto auto auto;">
        <div class="row">
            <img src="/public/images/products_img/banner.jpg" alt="写真" class="w-100">
        </div>
    </div>
</div>
</div>
<hr size="10" width="85%" noshade>
<div class="container explain">
    <p>CHUCK TAYLOR（チャックテイラー）は、1917年に誕生し、 ファーストモデルからほぼ不変のデザインとスペックで展開しているCONVERSEを代表するアイコンの一つです。 バスケットボールからファッションへとシーンを広げた現在も、 そのスタイルはALL STAR（オールスター）として世界中で多くの人々に愛され続けています。</p>
</div>
<form action="/products/details/purchase">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/public/images/products_img/32060180.jpg" alt="写真" width="350" height="300"></a>
                <p><input type="checkbox" name="q1" value="white"> WHITE</p>
            </div>
            <div class="col">
                <img src="/public/images/products_img/32060181.jpg" alt="写真" width="350" height="300"></a>
                <p><input type="checkbox" name="q1" value="black"> BLACK</p>
            </div>
            <div class="col">
                <img src="/public/images/products_img/32060182.jpg" alt="写真" width="350" height="300"></a>
                <p><input type="checkbox" name="q1" value="red"> RED</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="size">
                    <div class="btn-group-toggle products-option" style="width:150px" data-toggle="buttons">
                        <label class="btn btn-outline-info rounded-pill">
                         <input type="radio" name="options" value="option1" autocomplete="off" checked> 24.5cm
                       </label>
                        <label class="btn btn-outline-info rounded-pill">
                <input type="radio" name="options" value="option2" autocomplete="off"> 25.0cm         
              </label>
                        <label class="btn btn-outline-info rounded-pill">
                <input type="radio" name="options" value="option3" autocomplete="off"> 25.5cm
              </label>
                        <label class="btn btn-outline-info rounded-pill">
                <input type="radio" name="options" value="option2" autocomplete="off"> 26.0cm
              </label>
                        <label class="btn btn-outline-info rounded-pill">
                <input type="radio" name="options" value="option2" autocomplete="off"> 26.5cm
              </label>
                        <label class="btn btn-outline-info rounded-pill">
                <input type="radio" name="options" value="option2" autocomplete="off"> 27.0cm
              </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row price">
                    <p>￥8800<span>(税込み)</span></p>
                </div>
                <hr size="10" width="60%" noshade style="margin:0em 2.5em auto auto;">
                <div class="row purchase-btn  ">
                    <input type="submit" class="btn btn-success btn-lg btn-block rounded-pill" value="購入">
                </div>
            </div>
        </div>
        <!--row-->
    </div>
    <!--container-->
</form>
</div>
<!--main-sentense-->