<link rel="stylesheet" href="/public/stylesheet/details.css">

<div class="main-sentense">
  <div class="container products-info" style="margin:100px auto auto auto;">
    <div class="row">
      <div class="col-5">
        <h2>converse</h2>
        <img src="/public/images/products_img/chuck-taylor.png" alt="写真" width="150" height="70"
          style="margin:1em 1em 1em 8em ;">
        <h1>CHUCK TAYLOR</h1>
      </div>
      <div class="col-7">
        <div class="products-info">
          <img src="/public/images/products_img/32060180.jpg" alt="写真" width="500" height="400"
            style="margin:0px auto auto 200px;">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container explain">
    <p>CHUCK TAYLOR（チャックテイラー）は、1917年に誕生し、
      ファーストモデルからほぼ不変のデザインとスペックで展開しているCONVERSEを代表するアイコンの一つです。
      バスケットボールからファッションへとシーンを広げた現在も、
      そのスタイルはALL STAR（オールスター）として世界中で多くの人々に愛され続けています。</p>
  </div>
  <form action="/products/details/purchase">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/public/images/products_img/32060180.jpg" alt="写真" width="350" height="300"></a>
          <p><input type="checkbox" name="q1" value="white"> WHITE</p>
        </div>
        <div class="col">
          <img src="/public/images/products_img/32060181.jpg" alt="写真" width="350" height="300"></a>
          <p><input type="checkbox" name="q1" value="black"> BLACK</p>
        </div>
        <div class="col">
          <img src="/public/images/products_img/32060182.jpg" alt="写真" width="350" height="300"></a>
          <p><input type="checkbox" name="q1" value="red"> RED</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="size-price">
            <div class="btn-group-toggle products-option" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" value="option1" autocomplete="off" checked> Active
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" value="option2" autocomplete="off"> Radio
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" value="option3" autocomplete="off"> Radio
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row size-price">
            <p>￥8800<span>(税込み)</span></p>
          </div>
          <div class="row purchase-btn">
            <input type="submit" class="btn btn-success" value="購入">
          </div>
        </div>
      </div>
      <!--row-->
    </div>
    <!--container-->
  </form>
</div>
<!--main-sentense-->