<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FASHION MARKET</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/stylesheet/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <% if(user) {%>
                    <a href="/user_history/" class="history">購入履歴</a>
                    <% }%>
            </div>
            <div class="header-right">
                <% if(user) {%>
                    <a href="/cart/" class="cart">カート</a>
                    <a href="/login/logout" class="logout">ログアウト</a>
                    <% }else{ %>
                        <a href="/login/" class="logout">ログイン</a>
                        <% } %>
            </div>
            <div class="header-center">
                <a href="/" class="top-page">Fashion market</a>
            </div>
        </div>
    </header>

    <%- body %>


        <footer>
            <div class="fotter-main">
                <h1>SHOP INFORMATION</h1>

                <div id="wrapper">

                    <div class="fotter-float">
                        <h2>送料・配送について</h2>
                        <p>[送料]<br> ○○円以上で送料無料。
                        </p>
                        <p>[配送業者]<br> 佐川急便、ヤマト運輸。
                        </p>
                    </div>

                    <div class="fotter-float">
                        <h2>お支払いについて</h2>
                        <p>お支払いはクレジットカード決済、代金引換がご利用いただけます。<br>
                            <span>※代金引換の場合は別途代引き手数料がかかります。<br></span>
                        </p>

                        <h2>返品・交換・キャンセルについて</h2>
                        <p>返品･交換の可能期間、商品は商品到着日より7日以内の未使用品のみとなります。<br>
                            <span>※ご不明な点はお問い合わせください。</span>
                        </p>
                    </div>

                    <br style="clear:both;">

                </div>

                <p id="bottom">サイト内の全画像・全文章の著作権は ○○○○に属しており無断使用・転載・画像リンクは禁止しております。<br> Copyright(c) 2015 ○○○○ all right reserved.</p>

        </footer>
        <!-- container -->

</body>

</html>