<link rel="stylesheet" href="/public/stylesheet/products_page.css">
<div class="container main-sentense">
    <h1>~<span>Products</span>~</h1>
    <h2>~<span>Line Up~</span></h2>
</div>
<div class="back-img">
    <p>SHOES</p>
</div>
<div class="sub-sentense">
    <h2>Recommend</h2>
    <p>商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、
        商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明</p>

</div>
<!--<button class="doModal">モーダル</button>
<div class="d-none">
    <div class="modal" id="sample" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $(".doModal").on("click", () => {
                $("#sample").modal()
            })
        })
    </script>

</div>-->
<div class="container product-list">
    <div class="row">
        <div class="col">
            <div>
                <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                        height="300"></a>

            </div>
            <div class="product-title">
                商品説明
            </div>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300"
                    height="300"></a>
            <p>商品説明</p>
        </div>
    </div>
</div>
<footer>
    <div class="foot-container">
        <div class="info-company">
            <p>〇〇株式会社</p>
            <p>090-xxxx-xxxx</p>
            <p>東京都△△区</p>
        </div>
        <div class="foot-sentense">
            <P>©company</P>
        </div>
    </div>
</footer><!-- container -->