<link rel="stylesheet" href="/public/stylesheet/purchase.css">
<div class="container">
    <h2>注文内容</h2>
    <p class="box"></p>
</div>
<div class="main-sentense">
    <div class="products-info">
        <img src="/public/images/products_img/32060180.jpg" alt="写真" width="500" height="400">
    </div>
    <div class="products-info" style="margin:100px auto auto auto;">
        <h2>converse</h2>
        <p><img src="/public/images/products_img/chuck-taylor.png" alt="写真" width="150" height="70"
                style="margin:1em 1em 1em 8em ;">
        </p>
        <h1>CHUCK TAYLOR</h1>
    </div>
</div>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">氏名(漢字)</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">氏名(カナ)</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">電話番号</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">メールアドレス</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">郵便番号</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">都道府県</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">住所(都市区)</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">住所(上記以降)</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">住所(マンション名等)</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="container">
        <h2>お支払い方法</h2>
        <p class="box"></p>
    </div>
    <div class="form-group">
        <div class="col-sm-10 radio">
            <label><input type="radio" name="radio">代金引換</label>
            <label><input type="radio" name="radio">クレジットカード</label>
        </div>
        <label class="col-sm-2 control-label">カード番号</label>
        <div class="col-sm-10">
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default">購入する</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>配達日時</h2>
        <p class="box"></p>
    </div>
    <div class="radio">
        <label><input type="radio" name="radio" id="" value="希望なし">希望なし</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="radio" id="radio2" value="午前中">午前中</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="radio" id="radio2" value="12~14時">12~14時</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="radio" id="radio2" value="14~16時">14~16時</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="radio" id="radio2" value="16~18時">16~18時</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="radio" id="radio2" value="18~20時">18~20時</label>
    </div>
</form>
<div class="purchase-btn">
    <button type="button" class="btn btn-success">購入</button>
</div>