<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FASHION MARKET</title>
  <link rel="stylesheet" href="/public/stylesheet/stylesheet.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="header-left">
        <img class="logo" src="#">
      </div>
      <div class="header-right">
        <a href="/login" class="login">ログイン</a>
      </div>
      <div class="header-center">

        <a href="#" class="top-page">Fashion market</a>
      </div>
    </div>
  </header>
  <div class="top-wrapper">
    <div class="container">
      <h1>FASHION MARKET</h1>
      <h1>Looking good on you.</h1>
      <p>Fashion Marketは会員制の通販サービスです。</p>
      <p>1/30 新作入荷予定！！
      </p>
      <div class="btn-wrapper">
        <a href="/touroku" class="btn signup">新規登録はこちら</a>
        <p>or sign up with</p>
        <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
        <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
        <a href="#" class="btn google"><span class="fa fa-google"></span>googleで登録</a>
      </div>
    </div>
  </div>
  <div class="lesson-wrapper">
    <div class="container">
      <div class="heading">
        <h2>商品一覧</h2>
      </div>
      <div class="lessons">
        <div class="lesson">
          <div class="lesson-icon">
            <a href="/products"><img src="/public/images/toppage/shoes.jpg"></a>
            <p>SHOES</p>
          </div>
          <p class="txt-contents">取り扱いブランド名</p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <a href="#"><img src="/public/images/toppage/tops.jpg"></a>
            <p>TOPS</p>
          </div>
          <p class="txt-contents">取り扱いブランド名</p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <a href="#"><img src="/public/images/toppage/bottoms.jpg"></a>
            <p>BOTTOMS</p>
          </div>
          <p class="txt-contents">取り扱いブランド名</p>
        </div>
        <div class="lesson">
          <div class="lesson-icon">
            <a href="#"><img src="/public/images/toppage/accessories.jpg"></a>
            <p>ACCESSORIES</p>
          </div>
          <p class="txt-contents">取り扱いブランド名</p>
        </div>
      </div>
    </div>
  </div>
  <div class="message-wrapper">
    <div class="container">
      <div class="heading">
        <h2>お気に入りのブランドを見つけよう！</h2>
        <h3>初年度年会費無料！！2020/03/31までの入会で特典GET!!</h3>
      </div>
      <span class="btn message">会員登録する</span>
    </div>
  </div>
  <footer>
    <div class="container">
      <img src="#">
      <p>○○株式会社</p>
      <p>東京都港区△△丁</p>
      <p>090-xxxx-xxxx</p>
    </div>
  </footer>
</body>

</html>