<link rel="stylesheet" href="/public/stylesheet/history.css">
<h1>カート</h1>
<table>
    <tr>
        <th>商品名</th>
        <th>金額</th>
        <th>数量</th>
    </tr>
    <%for(p of rows){%>
        <tr>
            <td>
                <%=p.product.name%>
                    <a href="<%=p.product.id%>/delete">削除</a>
            </td>
            <td>
                <%=p.product.price%>
            </td>
            <td>
                <select name="cnt">
                    <option value="1" <%= p.count==1 ? 'selected': ''  %>></option>
                </select>
            </td>
        </tr>
        <%}%>
</table>
<form action="inputinfo" method="GET">
    <input type="submit" class="btn btn-success btn-lg btn-block rounded-pill" value="住所の入力へ">
</form>