<link rel="stylesheet" href="/public/stylesheet/confirm.css">
<div class="container">
    <div class="sentense">
        <h1>ご購入ありがとうございました。</h1>
        <div class="sub">
            <p>登録されたメールアドレスにメールを送信致しました。</p>
            <p>メールにて注文詳細をご確認ください。</p>
        </div>
    </div>
    <div class="row top-btn  ">
        <input type="submit" class="btn btn-info btn-lg btn-block rounded-pill w-50 top-disp" value="トップページへ">
    </div>

</div>