<link rel="stylesheet" href="/public/stylesheet/products_page.css">

<div class="container main-sentense">
    <h1>~<span>Products</span>~</h1>
    <h2>~<span>Line Up~</span></h2>
</div>

<div class="container back-img">
    <p>SHOES</p>
</div>

<div class="container sub-sentense">
    <h2>Recommend</h2>
    <p>商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、 商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明、商品一覧説明</p>
</div>

<div class="container product-list">
    <div class="row">
        <% for(row of rows){ %>
            <div class="product">
                <div>
                    <a href="/products/<%= row.id %>"><img src="/public/images/products_img/<%= row.image %>" alt="写真" width="300" height="300"></a>
                </div>
                <div class="product-title">
                    <%= row.name %>
                </div>
            </div>
            <% } %>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            </div>
            <div class="product-title">
                商品説明
            </div>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
        <div class="col">
            <a href="/products/details"><img src="/public/images/toppage/shoes1.jpg" alt="写真" width="300" height="300"></a>
            <p>商品説明</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container foot-container">
        <div class="info-company">
            <p>〇〇株式会社</p>
            <p>090-xxxx-xxxx</p>
            <p>東京都△△区</p>
        </div>
        <div class="foot-sentense">
            <P>©company</P>
        </div>
    </div>
</footer>